*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    max-width: 1920px;
    width: 100%;
    background-color: #0A22F4;
    padding: 20px 100px;
}

.logo{
    max-width: 100px;
}
.nav-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-bar ul{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.navigation-li a{
    color: #FFFFFF;
}

.navigation-contact a{
    color: #171717;
    padding: 15px 30px 15px;
    background-color: #FFFFFF;
    border-radius: 50px;
}

.articles{
    max-width: 1800px;
    width: 100%;
}
.article-box{
    margin-top: 300px;
    display: flex;
    gap: 20px;
}

.article {
    margin-left: 200px;
    display: flex;
    max-width: 460px;
    align-items: center;
	flex-wrap: wrap;
}

.cube{
    background-color: #0A22F4;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom:30px;
    padding-left: 30px;
}
.article p{
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}